<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Design</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="design">
<meta name="uma.presentationName" content="Design">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_EOPcMAMUEdylNddAObilIA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Design</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This is the informal template suggested for representing design.A requirements realization is a part of the design that shows how one or more<br/>&#xD;&#xA;requirements is implemented.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../practice.tech.evolutionary_design.base/workproducts/design_D677D182.html" guid="_0WuL8slgEdmt3adZL5Dmdw">Design</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    This template describes how the design can be organized to be understood from multiple perspectives. It also provides
    suggestions for how patterns and descriptions of small, reusable interactions can be used to minimize redundancy.
</p>
<p>
    It is important not to think of design as "a document." Design information that is worth keeping for some duration must
    have a long-lived form. But that form might be as a repository in a visual modeling tool, or as subdirectories of
    whiteboard diagrams captured with a digital camera, or as an actual document that provides structure for images taken
    from a myriad of sources.
</p>
<p>
    Designs are often organized into requirement realizations. A requirements realization is a part of the design that
    shows how one or more requirements is implemented.
</p>
<p>
    This template describes the information that should be conveyed. Typically, it works best to convey the information
    graphically (either with UML or another unambiguous notation), or at least in words, at an abstract level. You can
    enhance this with code examples, but best not to render the design solely at the code level.
</p>
<p>
    The structure of the design is suggested in this template.
</p>
<h2>
    Design structure
</h2>
<p style="COLOR: #0000ff">
    [Describe the design from the highest level. This is commonly done with a diagram that shows a layered architecture.]
</p>
<h2>
    Subsystems
</h2>
<h3>
    [Sub-system1]
</h3>
<p style="COLOR: #0000ff">
    [Describe the design of a portion of the system (a package or component, for instance). The design should capture both
    static and dynamic perspectives.
</p>
<p style="COLOR: #0000ff">
    When capturing dynamic descriptions of behavior, look for reusable chunks of behavior that you can reference to
    simplify the design of the requirement realizations.
</p>
<p style="COLOR: #0000ff">
    You can break this section down into lower-level subsections to describe lower-level, encapsulated subsystems.]
</p>
<h2>
    Patterns
</h2>
<h3>
    [Pattern1]
</h3>
<h4>
    Overview
</h4>
<p style="COLOR: #0000ff">
    [Provide an overview of the pattern in words in some consistent form. The overview of a pattern can include the intent,
    motivation, and applicability.]
</p>
<h4>
    Structure
</h4>
<p style="COLOR: #0000ff">
    [Describe the pattern from a static perspective. Include all of the participants and how they relate to one another,
    and call out the&nbsp;relevant data and behavior.]
</p>
<h4>
    Behavior
</h4>
<p style="COLOR: #0000ff">
    [Describe the pattern from a dynamic perspective. Walk the reader through how the participants collaborate to support
    various scenarios.]
</p>Example 
<p style="COLOR: #0000ff">
    [Often, you can convey the nature of the pattern better with an additional concrete example.]
</p>
<h2>
    Requirement&nbsp;realizations
</h2>
<h3>
    [Realization1]
</h3>
<h4>
    View of participants
</h4>
<p style="COLOR: #0000ff">
    [Describe the participating design elements from a static perspective, giving details such as behavior, relationships,
    and attributes relevant to this realization.]
</p>
<h4>
    Basic scenario
</h4>
<p style="COLOR: #0000ff">
    [For the main flow, describe how instances of the design elements collaborate to realize the requirements. When using
    UML, this can be done with collaboration diagrams (sequence or communication).]
</p>
<h4>
    Additional scenarios
</h4>
<p style="COLOR: #0000ff">
    [For other scenarios that must be described to convey an appropriate amount of information about how the requirement
    behavior will be realized, describe how instances of the design elements collaborate to realize the requirement. When
    using UML, you can do this with collaboration diagrams (sequence or communication).]
</p></td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>
    This program and the accompanying materials are made available under the<br />
    <a href="http://www.eclipse.org/org/documents/epl-v10.php" target="_blank">Eclipse Public License V1.0</a>, which
    accompanies this distribution.
</p>
<p>
    <a class="elementLink" href="./../../../core.default.release_copyright.base/guidances/supportingmaterials/epf_copyright_C3031062.html" guid="_UaGfECcTEduSX6N2jUafGA">EPF Copyright</a>.
</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
